<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>327866023713-cdc3m89kls7g4bq24h63d7rkskrgq72t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327866023713-cdc3m89kls7g4bq24h63d7rkskrgq72t</string>
	<key>API_KEY</key>
	<string>AIzaSyCDttIhhBlXLKrK9_hnmRiX5diLIIJkKVY</string>
	<key>GCM_SENDER_ID</key>
	<string>327866023713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dk.skelegon.Tutors-iOS</string>
	<key>PROJECT_ID</key>
	<string>tutors-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>tutors-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327866023713:ios:3e5493aa87b2b790</string>
	<key>DATABASE_URL</key>
	<string>https://tutors-ios.firebaseio.com</string>
</dict>
</plist>